.lesson-four-task-one button:hover {
    color: red;
    background-color: yellow;
}

.lesson-four-task-two a:hover ~ h1 {
   background-color: green;
}

.lesson-four-task-three a:link {
    color: yellow;
}

#sidebar a:link {
    color: red;
}

.lesson-four-task-five button:enabled {
    background-color: blue;
}

.lesson-four-task-six button:focus {
    background-color: orange;
    color: orange;
}

.lesson-four-task-seven #target:target {
    background-color: green;
    color: green;
}

.lesson-four-task-eight input:checked ~ div {
    color: white;
    background-color: blue;
}

.lesson-four-task-nine p:lang(uk) {
color: blue;
} 

.lesson-four-task-ten input:enabled {
    color: red;
    background-color: yellow;
}

.lesson-four-task-eleven button,input:disabled {
    background-color: yellow;
}

.lesson-four-task-twelve input:read-write  {
    background-color: yellow;
}

.lesson-four-task-thirteen input:read-only {
    background-color: yellow;
}

.lesson-four-task-fourteen input:valid {
    background-color: green;
}

.lesson-four-task-fourteen input:invalid {
    background-color: red;
}

.lesson-four-task-fifteen input:optional {
    background-color: red;
}

.lesson-four-task-sixteen input:out-of-range {
    background-color: red;
}

.lesson-four-task-seventeen input:in-range {
    background-color: red;
}

.lesson-four-task-eighteen input:placeholder-shown {
    background-color: red;
}

.lesson-four-task-nineteen button:focus-within {
    background-color: yellow;
    color: white;
}

.lesson-four-task-twenty input:invalid {
    background-color: red;
}