@layer component, normalize, variant, main, adaptive;

@font-face {
    font-family: HelveticaNeueBold;
    src: url('/font/HelveticaNeueBold.ttf');
}

@layer component {
    
    .page_section {
        display: flex;
        justify-content: center;
    }

    .buttons {
        text-decoration: none;
        color: var(--color-black);
        padding: var(--spacing-3);
        border-radius: var(--radius-1);
        text-align: center;
        border: 1px solid transparent;
        transition: opacity var(--transition-1);
    }

    .click {
        transition: opacity var(--transition-1);
    }

    
    .click:hover {
        opacity: var(--opacity-1);
        cursor: pointer;
    }

    .click:active {
        opacity: var(--opaciy-2);
    }

    .icon {
        display: block;
        
        background-repeat: no-repeat;
        background-position: center;
    }
}


@layer variant {
    .button_primary {
        color: var(--color-white);
        background-color: var(--color-primary);
    }
    
    .button_secondary {
        color: var(--color-primary);
        border-color: var(--color-primary);
        border-width: 2px;
    }

    .page_section_light {
        background-color: var(--color-light);
    }

    .feat_icon {
        width: 48px;
        height: 48px;
    }

    .arow_icon {
        width: 24px;
        height: 14px;
        background-image: url('/svg/feat_arow_right.svg');
    }
}

:root {
    --color-white:#ffffff;
    --color-black:#000;
    --color-primary:#611f69;
    --color-light:#F4EDE4;

    --page-width-big:1270px;
    --page-width-medium:1000px;
    --page-width-small:700px;

    --spacing-1:8px;
    --sapcing-2:12px;
    --spacing-3:16px;
    --spacing-4:20px;
    --spacing-5:24px;
    --spacing-6:28px;
    --spacing-7:32px;
    --spacing-8:36px;

    --size-1:14px;
    --size-2:18px;
    --size-3:22px;
    --size-4:26px;
    --size-5:30px;
    --size-6:34px;

    --radius-1:4px;

    --opacity-1:0.7;
    --opaciy-2:0.3;
    --transition-1: 0.7s;
}

@layer main {

    .page {
        display: grid;
    }
    
    .page_content {
        width: 100%;   
        padding: var(--spacing-3); 
    }

    body {
        font-family: 'HelveticaNeueBold', sans-serif;
    }

    .hero_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px 0px 0px;
        gap: 200px;        
        
        min-height: 600px;
    }

    .hero {
        display: flex;
        height: 100%;
        align-items: center;
        margin-top: 50px;
    }

    .hero_content {
        display: grid;
        gap: var(--spacing-5);
        color: var(--color-black);
        max-width: 425px;
        position: relative;
    }

    .brands {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: var(--spacing-8);
        row-gap: var(--spacing-4);
        flex-wrap: wrap;
    }

    .hero_image {
        position: absolute;
        left: 580px;
        top: 0px;
    }

    .hero_lable {
    font-size: var(--size-1);

    }

    .hero_title {
        font-size: 50px;
        margin: 0px;
    }

    .hero_info {
        font-size: var(--size-2);
    }

    .hero_buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-5);
    }

    .features_section {
        background-image: url('/img/features_img.png');
        background-repeat: no-repeat;
        background-position: top right;
        padding-top: 150px;
        padding-bottom: 150px;
        display: grid;
        gap: var(--spacing-5);
    }

    .features_title {
        font-size: var(--size-6);
        line-height: 1.5em;
    }

    .features_description {
        font-size: var(--size-2);
        max-width: 520px;
        line-height: 1.5em;
    }

    .feat_card {
        padding: var(--spacing-3);
        background-color: var(--color-white);
        gap: var(--spacing-3);
        display: grid;
        line-height: 1.5em;
    }

    .feat_link {
        justify-self: flex-end;
    }

    .features_grid_4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: var(--spacing-3);    
    }

    .features_grid_4 > .feat_card:first-of-type {
        grid-row: 1 / 3;
    }

    .features_section_2 {        
        padding-top: 150px;
        padding-bottom: 150px;
        display: grid;
        gap: var(--spacing-5);
        background-image: url('/img/need.jpg');
        background-repeat: no-repeat;            
    }
}

.features_content_2 {
    padding-left: 630px;
    align-items: center;
    margin-bottom: 50px;
    gap: 130px;
}

.features_grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-3);
    padding-left: 330px;
}

.feat_card_big {
    grid-row: 1 / 3;
}

.delivero {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 480px;        
}

.delivero_content {
    display: flex;
    width: 1020px;
    gap: 38px;    
}

.img_delivero {
    width: 600px;
    height: 230px;
    
}

.explore {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;    
    gap: 40px;       
}

.explore_content {
    width: 1005px;
    height: 505px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 75px;
    min-height: 505px;
}

.card_button {
    display: flex;
    background-image: url('/svg/feat_arow_right.svg');
    background-repeat: no-repeat;
    background-position: right;
    align-items: end;    
}

@layer adaptive {

    @media all and (1260px <= width) {
        .page_content {        
            max-width: var(--page-width-big);
        }
    }
    
    @media all and (1000px <= width < 1260px) {
        .page_content {        
            max-width: var(--page-width-medium);
        }
    
        .hero_image {       
            left: 518px;
            height: 300px;
        }
    }
    
    @media all and (width < 1000px) {
        .page_content {        
            max-width: var(--page-width-small);
        }

        .features_section_2 {
            background-image: none;
        }

        .features_content_2 {
            padding-left: 330px;
        }
    
        .hero_image {       
           position: static;
           width: 100%;
           order: -1;
        }
    
        .hero_content {
            max-width: 100%;
        }

        .features_grid_4 {
            grid-template-columns: repeat(3, 1fr);
        }

        .features_grid_4 > .feat_card:first-of-type {
            grid-row: 1 / 3;
        }       
    }

    @media all and (width < 600px) {
        .features_grid_4 {
            grid-template-columns: repeat(2, 1fr);
        }
        .features_grid_4 > .feat_card:first-of-type {
            grid-row: 1 / 3;
        }
    }

    @media all and (width < 400px) {
        .features_grid_4 {
            grid-template-columns: repeat(1, 1fr);
        }
        
        .features_grid_4 > .feat_card:first-of-type {
            grid-row: 1 / 3;
        }

        .hero_buttons {
            grid-template-columns: 1fr;
            gap: var(--sapcing-2);
        }
    }

    @media all and (width < 800px) {
        .features_section {
            background-image: none;
        }
    }

    @media all and (width < 1060px) {
        .features_grid_3 {            
            padding-left: 100px;               
        }
    }
}