<section class="articles">
    <div class="head_articles">
        <h2 class="articles_title">Our Articles</h2>
        <button class="articles_button" href="#">View all</button>
    </div>

        <div class="card">
            {{#each articles}}        
            <div class="card_articles">
                <img class="img_articles" src="{{photo}}" alt="{{name}}">
                <h2 class="articles_title">{{name}}</h2>
                <p class="articles_text">{{description}}</p>
                <a class="articles_btn" href="#">Read All</a>
            </div>        
            {{/each}}
            <span class="badge">NEW</span>
        </div>   
</section>