<div class="page_block">
      <header class='header row g-0'>
        <div class='col-3'>
          {{> logo}}        
            </div>

      <nav class='header_nav col-9'>       
        <div class=" header-nav-right">
            {{> nav list=header}}            
        </div>
      </nav>
    </header>
   {{> divider }}
    </div>